@mixin desktop-view {
    
    @media (min-width: 680px) {

        header {
            
            .title {
                font-size: 2rem;
            }
    
            .subtitle {
                font-size: 1rem;
            }

        }

        form {
            width: 95%;
            flex-direction: row;
            gap: 1em;

            button {
                max-width: 12em;
            }

            input ~ span {
                position: absolute;
                top: 1em;
                left: 1em;
            }

        }

        .illustration {
            margin: 3rem auto 4rem auto;
        }

        input:invalid:not(:focus):not(:placeholder-shown) {

            & ~ span::before {
                position: absolute;
                top: 5em;
                left: 1.5em;
            }
        
        }
    }
}


