@use "./reset.scss";
@use "./config" as c;
@use "./media" as m;

body {
    min-height: 100vh;
}

body,
header,
main,
form,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin: 6rem auto 2rem auto;

    .logo {
        margin-bottom: 3rem;
    }

    .title {
        font-size: 1.6rem;
        font-weight: 300;
        color: c.$clr-text-light;
        margin-bottom: 1rem;

        strong {
            font-weight: 700;
            color: c.$clr-text-dark;
        }
    }

    .subtitle {
        color: c.$clr-text-dark;
        font-size: 0.8rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    position: relative;

    input,
    button {
        font-size: 0.8rem;
        width: 100%;
        margin: 0.5em auto;
        padding: 1em 2em;
        border-radius: 5em;
    }

    input {
        color: c.$clr-text-dark;
        border: 2px solid c.$clr-accent-blue;

        &::placeholder {
            color: c.$clr-text-light;
        }

        & ~ span {
            position: relative;
            display: none;
            font-size: 0.6rem;
            color: c.$clr-accent-red;
            width: 100%;
            text-align: center;
            margin: 0 auto 1em auto;
        }
    }

    button {
        background-color: c.$clr-primary;
        color: #fff;
        box-shadow: 0px 8px 12px 2px hsl(223, 100%, 88%, 0.7);
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: lighten(c.$clr-primary, 5%);
        }
    }
}

.illustration {
    width: 85%;
    max-width: 40rem;
    margin: 5rem auto 10rem auto;
}



.social-links {
    display: flex;
    flex-direction: row;
    gap: 1em;

    li {
        list-style: none;
        border: 1px solid c.$clr-accent-blue;
        height: 1.7em;
        width: 1.7em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.7em;
            width: 1.7em;

            .social-icon {
                width: 0.9em;
                height: 0.9em;
                fill: c.$clr-primary;
            }
        }

        &:hover {
            background-color: c.$clr-primary;

            .social-icon {
                fill: #fff;
            }
        }
    }
}

.copyright {
    font-size: 0.6rem;
    color: c.$clr-text-light;
    margin: 3em auto 4em auto;
}


// Validation styling

input:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid lighten(c.$clr-accent-red, 10%);

    & ~ span {
        display: block;

        &::before {
            content: "Please provide a valid email adress";
    
        }
    }

}




@include m.desktop-view;